# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.backup
.terraform.lock.hcl
crash.log

# Ansible
*.retry
ansible/inventory/hosts.ini

# SSH Keys
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
